.Container{
    padding: 0 48px 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    user-select: none;
    gap: 36px;
}

.Container figure{
    width: 100%;
    max-width: 1280px;
    margin-left: 32px;
}

.imgLogo{
    width: 200px;
    height: 200px;
}

.formulariosDiv{
    align-self: center;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    max-width: 1280px;
    gap: 24px;
}

.formRegistro{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    width: 60%;
    border-radius: 8px;
    box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.3);
    min-width: 580px;
    max-width: 800px;
    height: 290px;
}

.formRegistro form{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    height: 100%;
    padding: 24px;
    gap: 8px;
}

.formRegistro form select{
    width: 100%;
}

.formRegistro form button{
    width: 100%;
}

.formImg{
    width: 40%;
    height: 100%;
}

.formImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 0 8px 8px 0;
}

.formLoginDiv{
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
}

.formLoginDiv h5{
    font-size: 14px;
    color: red;
    margin: 0;
    margin-bottom: .5rem;
    text-align: end;
}


/*************************** Formulario Emergente *************************/

.formEmergenteExterior{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.formEmergenteContainer{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: white;
    transition: width .4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: -3px 3px 8px 0 rgb(0, 0, 0,.3);
    max-width: 100%;
}

.formEmergenteContainer span{
    position: absolute;
    top: 8px;
    left: 10px;
    cursor: pointer;
}


@media (max-width:899px){

    .formEmergenteContainer{
        bottom: 20%;
    }

    .Container{
        gap: 0;
        padding: 0 16px 32px;
    }

    .Container figure{
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .formulariosDiv{
        display: grid;
        grid-template-columns: 1fr;
        gap: 48px;
        place-items: center;
    }

    .formLoginDiv{
        width: 100%;
        grid-row: 1/2;
    }

    .formRegistro{
        width: 100%;
        grid-row: 2/3;
        position: relative;
        min-width: 340px;
        max-width: 600px;
    }

    .formRegistro form{
        width: 100%;
    }

    .formRegistro form button{
        z-index: 1;
    }

    .formImg{
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        max-width: 300px;
        height: 100%;
        opacity: .2;
    }
}